@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
*{
    padding: 0%;
    margin: 0%;
}
body{
    min-height: 100vh;
}
header{
    background-color: black;
    height: 250px;
}
header > h1{
    font-family: 'Passion One', cursive;
    padding-top: 50px;
    text-align: center;
    color: white;
    font-size: 5em;
}
header > p{
    padding-bottom: 50px;
    text-align: center;
    color: white;
}
header > p > a{
    padding: 6px;
    border-radius: 4px;
    text-decoration:none;
    color: white;
    font-weight: bolder;
}
section{
    padding-left: 20px;
    line-height: 2em;
    padding-bottom:10vh ;
    padding-top: 10vh;
    font-size: 2em;
    font-family: 'Sriracha', cursive;
}
section.imagem{
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.253);
    background-color:rgba(128, 128, 128, 0.258)
}
section.imagem > p{
    width: 400px;
    text-shadow: 1px 1px 0px black;
    background-color: rgba(0, 0, 0, 0.084);
    color: white;
}
section > p{
    padding-bottom: 2em;
}
section#img001{
    background-image: url('imagens/background001.jpg');
    background-position: center center;
    background-attachment:fixed;
}
section#img002{
    background-image: url('imagens/background002.jpg');
    background-position: right center;
    background-attachment:fixed;
}
footer{
    padding: 4px;
    text-align: center;
    color: white;
    background-color: black;
}
footer a{
    border-radius: 8px;
    padding: 6px;
    text-decoration:none;
    font-weight: bolder;
    color: white;
}
a:hover{

    text-decoration:underline;
    background-color:rgba(255, 255, 255, 0.128);
}